@{
    ViewData["FQA"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/FQA.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container_faq">
            <div class="header_faq">
                <h2>
                    HOW CAN WE HELP ?
                </h2>
                <div class="ct_header">
                    <input type="text" placeholder="Enter Your Problem">
                    <br>
                    <button>
                        <p>ENTER</p>
                    </button>
                </div>
            </div>
            <div class="img_faq">
                <img src="../img/faq.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>